/* ==========================================================================
  Content Page - Box 1
========================================================================== */
.content-page {
    min-height: 100vh; /*Takes up full viewport*/
    background: url("../assets/photos/space-splash.jpg") no-repeat center #fff;
    background-size: cover; 
    display: flex;
    color:#fff;   
    margin-bottom: 6rem;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(5, 5, 5, 0.5); /*dark semi-transparent effect for BG*/
    align-items: center;
  }
  
  .flex-content-1, .flex-content-2 {
    min-width: 49vw; /*right column will get same value, no need to type twice*/
    align-items: center;
    padding:0 7% 10% 7%; /*Top,right,bottom,left*/
  }
  
  .flex-content-1 h2 {
    font-size: 2.5rem;
    position: relative;
    margin-top: 2rem;
    padding-bottom: 5rem;  /*Need to create extra padding since span is inline*/
    z-index: 1;            /*Need to be higher value than .flex-content-1 span */
  }
  
  .flex-content-1 span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
    font-family: "Times New Roman", Times, serif, sans-serif;
    position: absolute;
    top:2rem; 
    left:5rem;
  }
  
  .ground-control {
    font-size: 2rem;
  }
  
  .quotation-marks {
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    position: relative;
    top: 2rem;
    font-size: 1.4rem;
    font-weight: 100; /*Thinner text*/
    quotes: "“" "”" "‘" "’"; /*Read more https://css-tricks.com/almanac/properties/q/quotes/*/
  }
  
  .quotation-marks:before { /*Top Left*/
    color: rgba(255, 255, 255, 0.6);
    content: open-quote; 
    font-size: 5rem;
    position: absolute;
    bottom: 1rem;
    left: -2rem;
  }
  
  .quotation-marks:after { /*Bottom Right*/
    color: rgba(255, 255, 255, 0.6);
    content: close-quote;
    font-size: 5rem;
    position: absolute;
    top: 3rem;
    right: 0.2rem; 
  }