/* ==========================================================================
    Header
========================================================================== */

.menu-open {
  list-style: none;
  margin: 3rem 2rem 0 2rem;
  max-width: 500px;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  text-align: center;
  z-index: 999;

  li a {
    text-decoration: none; /*Underline wont work since it will be affected by text-shadow*/
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0px 5px 2px #cecece;
    color: #000;
    font-weight: bolder;
    font-size: clamp(3rem, 6vw, 4rem);
    z-index: 999; /*Display above everything else*/

  }
}

.menu-open li a:hover { /*Emulate an underline effect*/ 
  /*This effect creates rounded corners on underline effect, but is not approved by validator
  background: radial-gradient(farthest-side, $customer-color-hex 95%, #000) bottom left,
     linear-gradient($customer-color-hex 0 0) bottom,
     radial-gradient(farthest-side, $customer-color-hex 95%, #000) bottom right;
  background-size: 0.5rem 0.5rem, calc(100% - 0.5rem) 0.5rem; /*Relative size with font
  background-repeat: no-repeat;
  padding: 0.5rem 0;
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone; */
  background: linear-gradient($customer-color-hex, $customer-color-rgb);
  background-repeat: no-repeat;
  background-size: 100% 1rem;
  background-position: bottom;
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);  /*Semi transparent effect*/
  height: 100vh;
  width: 100vw;
  opacity: 0;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in; 
  visibility: hidden;
  z-index: 1;
  padding-bottom: 10rem; /*Because of fixed navbar*/
}

/* ==========================================================================
    Button
 ========================================================================== */

.hamburger {
  width: 75px;
  height: 75px;
  position: fixed;
  background: transparent;
  border: 0;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 3;
  pointer-events: none;

  span {
    display: block;
    width: 50px;
    height: 7px;
    background-color: black;
    border-radius: 6px;
    margin-bottom: 6px;
    position: relative;
    left: 0;
    border: 1px solid white;
    transition: all 0.3s ease-in-out;
    margin-left: 6px;
    margin-right: 6px;
  }
}

input {
  width: 75px;
  height: 75px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.hamburger span:nth-child(2) {
  margin-left: 0;
  transition: all 0.3s ease-in-out;
}

input:hover + .menu-container .hamburger span:nth-child(2) {
  left: 6px;
}


input:checked + .menu-container nav {
  visibility: visible;
  opacity: 1;
}

/* ==========================================================================
    Open/close Menu
========================================================================== */

input:checked + .menu-container button span {
  position: absolute;
  transition: all 0.3s ease-in-out;

  &:nth-child(2) {
    opacity: 0;
  }

  &:nth-child(1) {
    transform: rotate(45deg);
    animation: all 0.3s ease-in; 
  }

  &:nth-child(3) {
    transform: rotate(-45deg);
  }
}