/* ==========================================================================
    Start Page
  ========================================================================== */

  .start-page {
    min-height: 100vh; /*Takes up full viewport*/
    background: url("../assets/photos/adam-miller-unsplash.jpg") no-repeat center #fff;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  
  .start-page-moon-container {
    height: 50%;
    width: 35%;
    border: 6px solid black;
    position: relative;
    left: 5rem;
    top: 5rem;
    max-width: 500px;
    min-width: 180px;
    max-height: 480px;
    min-height: 220px;
    background-color: rgba(255, 255, 255, 0.5);  /*Semi transparent effect*/
  }
  
  .to-the-moon-box {
    text-transform: uppercase;
    font-size: clamp(2rem, 8vw, 7rem); /*Smallest point, increase, maximal point*/
    text-align: center;
    position: relative;
  }

  .arrow-link { /*To the moon arrow*/
    color: black;
    text-decoration: none;
    position: absolute;
    bottom: 1rem;
  
    &::after {
      content: "\2192";   /*HTML entity code for right arrow*/
      margin-left: 2rem;
      position: absolute;
      font-size: 2rem;
      font-family: "Fira Code";
      font-weight: 300;
      text-decoration: none;
      transition: 0.3s ease-in-out;
      right: -2.25rem;
      top: -0.75rem;
    }
  
    &:hover::after {
      right: -3rem;
    }
  }
  
  .next-page-container {   /*Next page arrow*/
    position: relative;
    margin: auto;
    margin-bottom: 7rem; /*So fixed navbar at bottom wont hide the arrow*/
  }
  
  .arrow-link-down {
    &::before {
      content: "\2193";
      position: absolute;
      bottom: 0;
      text-align: center;
      font-family: "Fira Code";
      font-size: 5rem;
      color: white;
      font-weight: 400;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      text-decoration: none;
    }
  
    &:hover::before {
      margin-bottom: -2rem;
      margin-bottom: -2rem;
    }
  }