/* ==========================================================================
  Footer
========================================================================== */
.footer-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index:998; /*1 layer below hamburgermenu*/
    bottom:0;
    left:0;
    padding: 1rem;
    background-color: rgb(16, 11, 44);
    color: $customer-color-hex;
    text-shadow: 0 0 0.5rem #D200A2; /*[x-offset] [y-offset] [blur-radius] [color]*/
  }
  
  .accept-button {
    background-color: rgb(29, 19, 105);
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 1rem;
    cursor: pointer;
  }
  